* {
    font-family: Arial, Helvetica, sans-serif;
}

/* component button */
.button {
    padding: .5rem;
    border-radius: 6px;
    border: unset;

    &:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }
}

.button-primary {
    background-color: #2c67a2;
    color: #fff;
}

.button-secondary {
    background-color: #adadad;
    color: #000;
}

.button-action {
    background-color: #1e8e1e;
    color: #fff;
}