* {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    padding: .5rem;
    border-radius: 6px;
    border: unset;
}

.button-primary {
    background-color: #2c67a2;
    color: #fff;
}

.button-secondary {
    background-color: #adadad;
    color: #000;
}